body {
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-attachment: scroll;
  background-image: linear-gradient(90deg, rgb(226, 226, 226), rgb(201, 214, 255));
  background-size: auto;
  background-origin: padding-box;
  background-clip: border-box;
}

#calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightsalmon;
}

#monthYearContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 30px;
  color: lightsalmon;
}

#datesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 800px;

}

.boxes {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: lightsalmon;
  color: azure;
  padding: 5px;
}

.blue-boxes {
  display: flex;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  background-color: lightblue;
  color: azure;
  padding: 4px;
}

textarea {
  display: flex;
  background-color: rgb(248, 215, 215);
  width: 794px;
  height: 70px;
}

form {
  color: lightsalmon;
  font-weight: bold;

}

input {
  color: azure;
  background-color: lightsalmon;
  width: 100px;
  height: auto;
  border-radius: 5px;
  font-weight: bold;
}