#calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#monthYearContainer {
  display: flex;
  align-items: center;
}

#datesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 400px;

}

.boxes {
  display: flex;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 10px;
}